# --- ESP-IDF build (in-tree) ---
build/
build-*/

# --- CMake/Ninja (às vezes aparecem fora de build/) ---
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build.ninja
rules.ninja
compile_commands.json

# --- Binários / objetos / mapas ---
*.elf
*.bin
*.map
*.a
*.o
*.obj
*.d
*.hex
*.ld
*.log

# --- IDEs ---
.vscode/
.idea/

# --- Python ---
.venv/
venv/
__pycache__/

# --- IDF configs ---
sdkconfig.old     # ignore o backup
!sdkconfig        # sempre versionar o sdkconfig
