@font-face {
    font-family: 'Orbitron';
    src: url('/esp_web_server/fonts/Orbitron-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

#systemTime {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    color: #00FF00; /* Verde neon */
    text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00; /* Efeito de brilho */
    font-weight: 700;
    letter-spacing: 2px;
}